<template>
  <div>
    <v-container>
      <h2>
        {{ store.state.currentView === 'Scenario' ? 'Scenarios' : 'Items' }}
      </h2>
    </v-container>

    <scenarios-component
        v-if="store.state.currentView === 'Scenario'"
    ></scenarios-component>
    <items-component
        v-if="store.state.currentView === 'Items'"
    ></items-component>
    <v-container>
      <v-row class="button-container">
        <v-col>
          <button
              class="button"
              v-on:click="
              setView(
                store.state.currentView === 'Scenario' ? 'Items' : 'Scenario'
              )
            "
          >
            {{ store.state.currentView === 'Items' ? 'Scenarios' : 'Items' }}
          </button>
        </v-col>
        <v-col>
          <button
              class="button"
              @click="
              store.state.currentView === 'Scenario' ? addScenario() : addItem()
            ">
            {{
              store.state.currentView === 'Scenario'
                  ? 'Add Scenario'
                  : 'Add Item'
            }}
          </button>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import { useStore } from 'vuex';
import { key } from '@/store/datastore';

@Options({
  name: 'main-component',
})
export default class MainComponent extends Vue {
  private store = useStore(key);

  private setView(view: string) {
    this.store.state.currentView = view;
  }

  private addScenario() {
    this.store.state.selectedScenario = {id: '', title: '', items: []};
    this.store.state.showAddScenarioDialog = true;
  }

  private addItem() {
    this.store.state.selectedItem = {id: '', name: '', ssid: '', image: ''};
    this.store.state.showAddItemDialog = true;
  }
}
</script>

<style lang="scss" scoped>
.view-selection-container {
  padding: 1.5em;
  display: flex;
  justify-content: center;
  font-family: 'Saira', Helvetica, Arial, serif;
  font-size: 1.2rem;
  font-weight: bold;
}

.view-selection {
  color: var(--main-text-colour);
  background-color: var(--main-selection-colour);
}

.view-selection-separator {
  margin: 0 -15%;
}

.button-container {
  bottom: 20px;
}

.button {
  background: radial-gradient(#2c8f44, var(--secondary-button-color), #1f3b26);
  font-weight: bold;
  color: var(--white);
  border-radius: 13px;
  padding: 8px 15px;
  width: 40vw;
  min-width: 120px;
  font-size: 0.9rem;
}
</style>
