<template>
  <v-container class="scenario-selection">
    <div class="scenario-item-container">
      <v-row
          v-for="scenario in getScenarios()"
          :key="scenario"
          class="scenario-item-entry">
        <v-col class="scenario-item">
          <div class="scenario-item-title">
            <div
                class="scenario-item-text"
                v-on:click="setScenario(scenario.id)">
              {{ scenario.title }}
            </div>
            <div></div>
            <div class="icon-container">
              <v-icon
                  class="scenario-item-edit-icon"
                  v-on:click="editScenario(scenario.id)"
              >mdi-pencil-outline
              </v-icon>
              <v-icon
                  class="scenario-item-delete-icon"
                  v-on:click="removeScenario(scenario.id)"
              >mdi-delete
              </v-icon>
            </div>
          </div>
          <div v-if="currentScenario === scenario.id">
            <div
                class="scenario-item-item" v-for="item in scenario.items" :key="item">
              <item-component :item="item" :scenario="scenario"></item-component>
            </div>
            <div class="icon-container--center">
              <v-icon class="scenario-item-add-icon icon--small" v-on:click="assignScenarioItem()">mdi-plus</v-icon>
            </div>
          </div>
        </v-col>
      </v-row>
    </div>
    <assign-scenario-item-dialog
        :scenario="getSelectedScenario()"
    ></assign-scenario-item-dialog>
    <add-scenario-dialog></add-scenario-dialog>
  </v-container>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import { useStore } from 'vuex';
import { key, Scenario } from '@/store/datastore';

@Options({
  name: 'scenarios-component',
})
export default class ScenariosComponent extends Vue {
  private store = useStore(key);
  private currentScenario: string = '';

  private getScenarios(): Scenario[] {
    return this.store.state.scenarios;
  }

  private getSelectedScenario(): Scenario {
    return this.store.state.scenarios.filter(
        (it) => it.id === this.currentScenario,
    )[0];
  }

  private removeScenario(uuid: string) {
    this.store.state.scenarios = this.store.state.scenarios.filter(
        (it) => it.id !== uuid,
    );
  }

  private setScenario(uuid: string) {
    if (this.currentScenario === uuid) {
      this.currentScenario = '';
    } else {
      this.currentScenario = uuid;
    }
  }

  private assignScenarioItem() {
    this.store.state.showAssignScenarioItemDialog = true;
  }

  private editScenario(uuid: string) {
    this.store.state.selectedScenario = this.store.state.scenarios.filter(
        (it) => it.id === uuid,
    )[0];
    this.store.state.showAddScenarioDialog = true;
  }
}
</script>

<style scoped>
.scenario-selection {
  color: var(--main-text-colour);
  background-color: var(--secondary-color);
  min-height: 75vh;
  height: max-content;
  border-radius: 10px;
}

.scenario-item-container {
  margin-top: 25px;
}

.icon-container {
  display: flex;
}

.scenario-item-entry {
  display: flex;
  margin: 0;
  padding: 10px;
  justify-content: center;
}

.scenario-item {
  color: var(--black);
  border: 2px solid;
  border-radius: 15px;
}

.scenario-item-item {
  margin: 10px 0;
}

.scenario-item-item .v-container {
  color: var(--black);
  padding: 5px;
  border: 2px solid;
  border-radius: 10px;
}

.scenario-item-title {
  display: flex;
  justify-content: space-between;
  font-family: 'Saira', Helvetica, Arial, serif;
  font-size: 1.5rem;
  max-width: 100%;
}

.scenario-item-text {
  margin-left: 5%;
}

.scenario-item-add-icon {
  display: flex;
  color: var(--main-text-colour);
  background-color: var(--add-button-color);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid;
}

.icon--small {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  border: none;
  box-shadow: 2px 2px darkslategrey;
}

.icon-container--center {
  display: flex;
  width: 100%;
  justify-content: center;
}

.scenario-item-delete-icon {
  color: var(--main-button-colour);
  display: flex;
  align-self: center;
  font-size: 2rem;
  margin-right: 10px;
}

.scenario-item-edit-icon {
  color: var(--main-text-colour);
  display: flex;
  align-self: center;
  font-size: 2rem;
  margin-right: 10px;
}
</style>
