<template>
  <v-dialog
      v-model="store.state.showAddScenarioDialog"
      class="add-scenario-dialog">
    <div class="add-scenario-dialog-container">
      <v-card class="add-scenario-dialog-content">
        <v-card-title class="text-h5 text">
          Add Scenario
        </v-card-title>

        <v-card-text class="card-body">
          <label for="name" class="text input-label">Name</label>
          <input
              type="text"
              id="name"
              class="text input-field"
              v-model="name"
              placeholder=" Scenario name"
          />
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="text button" @click="addScenario()"> {{buttonText}}</v-btn>
        </v-card-actions>
      </v-card>
    </div>
  </v-dialog>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import { useStore } from 'vuex';
import { key } from '@/store/datastore';
import { v4 as uuidv4 } from 'uuid';

@Options({
  name: 'add-scenario-dialog',
})
export default class AddScenarioDialog extends Vue {
  private store = useStore(key);
  private name = '';
  private buttonText: string = 'Add Scenario';

  updated() {
    if (this.store.state.selectedScenario.id !== '') {
      this.name = this.store.state.selectedScenario.title;
      this.buttonText = 'Update Scenario';
    } else {
      this.name = '';
      this.buttonText = 'Add Scenario';
    }
  }

  private addScenario() {
    if (this.store.state.selectedScenario.id !== '') {
      this.store.state.selectedScenario.title = this.name;
    } else {
      this.store.state.scenarios.push({
        id: uuidv4(),
        title: this.name,
        items: [],
      });
      this.name = '';
    }
    this.store.state.showAddScenarioDialog = false;
  }
}
</script>

<style lang="scss" scoped>
.add-scenario-dialog {
  color: var(--main-text-colour);
}

.add-scenario-dialog-container {
  display: flex;
  justify-content: center;
}

.add-scenario-dialog-content {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  max-width: 90%;
  min-width: 85vw;
  border: 2px solid var(--main-text-colour);
  border-radius: 15px;
}

.card-body {
  display: flex;
  color: var(--main-text-colour);
  flex-direction: column;
}

.text {
  color: var(--main-text-colour);
}

.input-label {
  font-size: 1.2rem;
  padding-bottom: 5px;
}

.input-field {
  background-color: var(--main-color);
  height: 2rem;
  font-size: 1.3rem;
}

.button {
  background: radial-gradient(#2c8f44, var(--secondary-button-color), #1f3b26);
  font-weight: bold;
  color: var(--white);
  border-radius: 13px;
  padding: 8px 15px;
  width: 35vw;
  min-width: 130px;
  font-size: 0.7rem;
}
</style>
