<template id="app">
  <header-component></header-component>
  <main-component></main-component>
  <add-item-dialog></add-item-dialog>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'

@Options({})
export default class App extends Vue {}
</script>

<style>
@font-face {
  font-family: 'Post no bills';
  src: local('Post no bills'),
    url(./assets/fonts/post-no-bills/postnobillscolombo-regular.ttf)
      format('truetype');
}

@font-face {
  font-family: 'Post no bills';
  font-weight: bold;
  src: local('Post no bills'),
    url(./assets/fonts/post-no-bills/postnobillscolombo-bold.ttf)
      format('truetype');
}

@font-face {
  font-family: 'Post no bills';
  font-weight: 150;
  src: local('Post no bills'),
    url(./assets/fonts/post-no-bills/postnobillscolombo-semibold.ttf)
      format('truetype');
}

@font-face {
  font-family: 'Saira';
  src: local('Saira'),
    url(./assets/fonts/saira/Saira-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Saira';
  font-weight: bold;
  src: local('Saira'),
    url(./assets/fonts/saira/Saira-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Saira';
  font-weight: 150;
  src: local('Saira'),
    url(./assets/fonts/saira/Saira-SemiBold.ttf) format('truetype');
}

body {
  background-color: var(--main-color);
}

:root {
  --main-color: #167479;
  --secondary-color: #0bbfc9;
  --main-text-colour: #000000;
  --main-button-colour: #8e0d0d;
  --main-selection-colour: #161a2f;
  --main-input-colour: #242830;
  --black: #000000;
  --white: #fff;
  --secondary-button-color: #006326;
  --add-button-color: #56d8c0;
}

#app {
  background-color: var(--main-color);
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}
</style>
